<h1>Users</h1>

<table id="users" class="display">
  <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.position %></td>
        <td><%= user.office %></td>
        <td><%= user.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
