textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.custom-select:focus,
.paginate_button > a:focus {
  border-color: rgba(106, 155, 241, 0.88);
  box-shadow: 0 1px 1px rgba(106, 155, 241, 0.65) inset, 0 0 8px rgba(106, 155, 241, 0.65);
  outline: 0 none;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.table th {
   text-align: center;
}

// .ui-sortable-handle { cursor: move; }

.ui-sortable-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.ui-sortable-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
